body {
  background-color: rgb(245, 247, 217);
}

.a,
.b,
.c {
  width: 80%;
  border: solid 0.5px;
  margin: 10px;
  background-color: white;
  padding: 5px;
}

.r {
  background-color: rgb(233, 91, 91);
}
.y {
  background-color: rgb(240, 240, 116);
}

.c,
.c p {
  color: red;
  border: dashed 1px;
}
